.App{
  margin: 0 auto;
  background-color: white;
  min-height: 400px;
  max-width: 500px;
  box-shadow: 3px 2px 5px 3px grey;
  padding: 10px;
  margin-top: 20px;
}
.App h1{
  text-align: center;
  font-weight: 600;
}
.button-div{
  display: flex;
  justify-content: flex-end;
}
.button-div button{
  width: 20%;
  height: 30px;
  font-size: 16px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}
